$border: 0.5mm solid rgba(207, 207, 207, 255);

:host {
    display: grid;
    grid-template-columns: 15% 25% 60%;
    grid-template-rows: 100%;
    margin-bottom: 10px;

    .info {
        .clientInfo {
            padding-top: 20px;

            display: flex;
            flex-direction: rows;
        }     
        .clientImages {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            align-items: center;
            justify-content: left;

            img {
                filter: grayscale(1);
                opacity: 0.25;
                max-height: 70px;
                max-width: 120px;
                margin: 5px;
            }
        }
    }
}