@media only screen and (min-device-width : 768px) and ((orientation: portrait) or (orientation: landscape)) {
    :host {
        display: flex;

        .title{
            width: 40%;
        }

        .info{
            width: 60%;
        }
    }

}