$border: 0.5mm solid rgba(207, 207, 207, 255);

footer {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;

    p{
        padding: 1px;
    }

    &:first-child {
        border-top: $border;
    }

    &:last-child {
        border-bottom: none;
    }

    app-nosotros {
        padding: 10px;
        padding-left: 0px;
        padding-top: 5px;
    }

    app-clients {
        border-top: $border;
        padding: 10px;
        padding-left: 0px;
    }
}