$border: 0.5mm solid rgba(207, 207, 207, 255);

@media (max-device-width: 767px) or ((max-device-height: 767px)) {
    footer {
        padding-bottom: 20px;
        app-nosotros {
            padding: 5px;
            padding-left: 0px;
            grid-template-columns: 25% 1fr;
            
            .contactDevice{
                display: block;
            }
            .title {
                justify-self: start;
                width: 60%;

                :last-child{
                    display: none;
                }
            }

            app-contact {
                display: none;
            }

            .descripcion {
                padding: 0;
                margin: 0;
                margin-bottom: 10px;
            }
        }

        app-clients {
            padding: 5px;
            padding-top: 50;
            grid-template-columns: 25% 75%;
            
            .empty{
                display: none;
            }

            .info {
                .clientImages {
                    img {
                        max-height: 35px;
                        max-width: 50px;
                    }
                }
            }
        }
    }
}