$border: 0.5mm solid rgba(207, 207, 207, 255);
@media only screen and ((min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)) {
    footer {
        app-clients {
            grid-template-columns: 20% 0% 80%;
            padding-top: 0;
        }
    }
}