@use '../../../styles/variables' as vars;

main {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    padding-left: vars.$default_margin;
    padding-right: vars.$default_margin;
}