<main class="mainIndex">

    <ng-container *ngFor="let indexElem of elementsList">
        <a class="buttonIndex" (click)="handleButtoIndex(indexElem)">

            <div class="indexTitle">
                <p>({{indexElem.index}})</p>
            </div>
            
            <div class="year">
                <p>{{indexElem.year}}</p>
            </div>

            <div class="title">
                <p>{{indexElem.title}}</p>
            </div>

            <div class="keywords" >
                <p>{{indexElem.keywords}}</p>
            </div>
        </a>
    </ng-container>
</main>

<div class="overlay" *ngIf="popup && currentIndexElement!=null" (click)="close()">
    <app-overlay-video [currentIndexElement]="currentIndexElement" [(popup)]="popup"></app-overlay-video>
</div>