$border: 0.5mm solid rgba(207, 207, 207, 255);

[class*="mobile"] {
    display: none !important; // Oculta cualquier clase que incluya "mobile"
}

header.video-container-desktop,
header.video-container-expanded-desktop {

    width: 100%;
    height: 90vh;
    overflow: hidden;
    isolation: isolate; // Esto crea un nuevo stacking context

    
    .content-over-video {
        width: 100%;
        display: grid;

        grid-template-columns: 14% 66% 15% 5%;
        justify-content: right;
        margin-top: 10px;

        .detalles {
            justify-self: left;
            margin-left: 10px;
        }

        .listado {
            margin-left: 10%;
        }

        .menu {
            display: flex;
            flex-direction: column;
            margin-right: 10%;
        }

        .logo {
            justify-self: right;
            display: block;
            width: 50px;
            height: 50px;
            margin-right: 10px;

            img {
                width: inherit;
                height: inherit;
            }
        }
    }
}

header.video-container-expanded-desktop {
    margin-bottom: 50px;
}

header.video-container-desktop {
    padding-bottom: 0;
    margin-bottom: -10px;
    position: relative;
    /* Ajusta según necesites */
    overflow: hidden;

    p {
        color: white;
    }

    video.video-background {
        width: 100%;
        height: 100%; // Asegura que cubra la altura del contenedor
        object-fit: cover; // Mantiene la proporción y cubre el espacio
        position: absolute; // Para que no afecte el flujo del contenido
        top: -30px;
        left: 0;
        z-index: -1;
        transform: translateZ(0);
        backface-visibility: hidden;
        will-change: transform;
        perspective: 1000px;

    }

    div.content-over-video {
        z-index: 1;
        position: relative;
        top: auto;
        .logo img {
            color: inherit;
            filter: invert(1);
        }
    }
}