$border: 0.5mm solid rgba(207, 207, 207, 255);

[class*="mobile"] {
    display: none !important; // Oculta cualquier clase que incluya "mobile"
}

header.video-container-desktop {
    width: 100%;
    overflow: hidden;
    /* Ajusta según necesites */
    color: white;
    /* Para que el texto sea legible */
    padding: 0;
    margin-bottom: -80px;

    p {
        color: white;
    }

    .video-background {
        width: 100%;
        position: relative;
        top: -90px;
    }

    .content-over-video {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 14% 66% 15% 5%;
        justify-content: right;
        margin-top: 10px;

        .detalles {
            justify-self: left;
            margin-left: 10px;
        }

        .listado {
            margin-left: 10%;
        }

        app-contact {
            margin-right: 10%;
        }

        .logo {
            justify-self: right;
            display: block;
            width: 50px;
            height: 50px;
            margin-right: 10px;

            img {
                width: inherit;
                height: inherit;
                filter: invert(1);
            }
        }
    }
}