@use '../../../styles/variables' as vars;

$border: vars.$border;

$default_margin: vars.$default_margin;

[class*="mobile"] {
    display: none !important; // Oculta cualquier clase que incluya "mobile"
}

.video-background {
    position: relative;
    z-index: -1;
    width: 100%;
}

header.video-container-desktop {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    height: auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .content-over-video {
        margin: $default_margin;
        display: grid;
        grid-template-columns: 20% 60% 19% 1%;

        .detalles {
            justify-self: left;

            :first-child {
                &::after {
                    content: "®";
                    margin-left: -5px;
                }
            }
        }

        .listado a {
            cursor: pointer;
        }

        .logo {
            justify-self: right;
            display: block;
            width: 50px;
            height: 50px;

            img {
                width: inherit;
                height: inherit;
            }
        }
    }
}

.menuElement{
    cursor: pointer;
}