@media only screen and (max-device-width: 767px) and ((orientation: portrait) or (orientation: landscape)) {


    header.video-container-desktop {
        height: 100vh;
        margin-bottom: -75%;

        @media (max-device-width: 375px) {
            margin-bottom: -65%;
        }

        .video-background {
            top: -60px;
            height: 70%;
        }

        .content-over-video {
            grid-template-columns: 21% 45% 33%;

            .detalles :last-child {
                display: none;
            }


            app-contact {
                display: none;
            }

        }
    }
}