@use "../../../styles/mixins" as mx;

@include mx.mobile() {
    header.video-container-desktop {

        position: sticky;

        .content-over-video {
            margin:  8px;
            grid-template-columns: 25% 60% 15%;

            .detalles {
                width: 80%;
            }
            .detalles :last-child {
                display: none;
            }

            .logo {
                width: 40px;
                height: auto;
            }


            app-contact {
                display: none;
            }

        }
    }
}

@include mx.mobile("landscape") {
    header.video-container-desktop {
        
        .content-over-video {
            grid-template-columns: 25% 60% 15%;

            .detalles {
                font-size: 14px !important;
            }

            .detalles :last-child {
                display: none;
            }

            .logo {
                width: 70px !important;
                height: 70px !important;
                height: auto;
            }


        }
    }
}
