@media only screen and ( (min-width: 768px) and (max-width: 1024px)) and ((orientation: portrait) or (orientation: landscape)) {

    header.video-container-desktop .content-over-video .logo {
        width: 40px;
        height: 40px;
    }

    app-contact {
        display: block;
        max-width: 70%;
    }

}