@use "../../../styles/mixins" as mx;

@include mx.tablet(){
    header.video-container-desktop .content-over-video .logo {
        width: 40px;
        height: 40px;
    }

    app-contact {
        display: block;
        max-width: 70%;
    }
}

