<section>

    <p>En GM aArt New Media valoramos y respetamos tu privacidad. Esta Política de Privacidad describe cómo recopilamos,
        utilizamos, compartimos y protegemos la información personal que
        obtenemos a través de nuestro sitio web www.gmartnewmedia.com. Al utilizar nuestro
        sitio,
        aceptas las prácticas descritas en esta política. </p>

    <br>

    <h1>1. Información que Recopilamos</h1>
    <p>Podemos recopilar los siguientes tipos de información:</p>

    <br>

    <ul>
        <li>
            <p>Información personal: Nombre, dirección de correo electrónico, número de teléfono y otra información que
                nos
                proporciones voluntariamente al registrarte, suscribirte a nuestro boletín, o contactarnos. </p>
        </li>
        <li>
            <p>Información de uso: Datos sobre cómo interactúas con nuestro sitio, como tu dirección IP, tipo de
                navegador,
                páginas visitadas, tiempo de visita y otros datos analíticos.</p>
        </li>
        <li>
            <p>Cookies y tecnologías similares: Utilizamos cookies y tecnologías similares para mejorar la experiencia
                del
                usuario y
                analizar el tráfico del sitio. Puedes gestionar tus preferencias de cookies a través de la configuración
                de tu
                navegador.</p>
        </li>
    </ul>

    <br>

    <h1>2. Uso de la Información</h1>
    <p>Utilizamos la información recopilada para los siguientes fines:</p>

    <br>
    <ul>
        <li>
            <p>Proporcionar, operar y mantener nuestro sitio.</p>
        <li>
        <li>
            <p>Mejorar, personalizar y expandir las funcionalidades del sitio.</p>
        </li>
        <li>
            <p>Comunicarnos contigo, incluyendo el envío de boletines, actualizaciones y respuestas a consultas.</p>
        </li>
        <li>
            <p>Analizar el uso del sitio y realizar investigaciones para mejorar nuestros servicios.</p>
        </li>
        <li>
            <p>Cumplir con obligaciones legales y proteger nuestros derechos.</p>

        </li>
    </ul>

    <br>

    <h1>3. Compartir Información</h1>
    <p>No vendemos, comercializamos ni transferimos tu información personal a terceros sin tu consentimiento, excepto en
        los siguientes casos:</p>
    <br>
    <ul>
        <li>
            <p>Proveedores de servicios: Podemos compartir información con terceros que nos ayudan a operar nuestro
                sitio (por
                ejemplo, proveedores de hosting, herramientas de análisis y servicios de marketing).</p>
        </li>
        <li>
            <p>Cumplimiento legal: Podemos divulgar información si es requerido por ley o para proteger nuestros
                derechos,
                propiedad o seguridad, o los de otros usuarios.</p>
        </li>
        <li>
            <p>Transferencias empresariales: En caso de fusión, adquisición o venta de activos, tu información podría
                ser
                transferida al nuevo propietario. </p>
        </li>
    </ul>
    <br>

    <h1>4. Seguridad de la Información</h1>
    <p>Implementamos medidas de seguridad técnicas y organizativas para proteger tu información personal contra accesos
        no autorizados, alteraciones, divulgaciones o destrucción. Sin embargo, ningún sistema es completamente seguro,
        por
        lo que no podemos garantizar la seguridad absoluta de tus datos.</p>

    <br>

    <h1>5. Tus Derechos </h1>
    <p>Dependiendo de tu jurisdicción, puedes tener los siguientes derechos respecto a tu información personal:</p>
    <br>
    <ul>
        <li>
            <p>Acceso: Solicitar una copia de la información que tenemos sobre ti.</p>
        </li>
        <p>Rectificación: Solicitar la corrección de información inexacta o incompleta.</p>
        <li>
            <p>Eliminación: Solicitar la eliminación de tus datos personales.</p>
        </li>
        <p>Oposición: Oponerte al procesamiento de tus datos en ciertas circunstancias.</p>
        <li>
            <p>Retiro del consentimiento: Retirar tu consentimiento para el uso de tus datos, cuando corresponda.</p>
        </li>
        <li>
            <p>Para ejercer estos derechos, contáctanos a través de la información proporcionada al final de esta
                política.</p>
        </li>
    </ul>
    <br>

    <h1>6. Enlaces a Terceros</h1>
    <p>Nuestro sitio puede contener enlaces a sitios web de terceros. No somos responsables de las prácticas de
        privacidad
        o el contenido de estos sitios. Te recomendamos revisar sus políticas de privacidad antes de proporcionarles
        cualquier información personal.</p>

    <br>

    <h1>7. Cambios a esta Política</h1>
    <p>Podemos actualizar esta Política de Privacidad ocasionalmente. Cualquier cambio será publicado en esta página con
        la
        fecha de la última actualización. Te recomendamos revisar esta política periódicamente para estar informado
        sobre
        cómo protegemos tu información.</p>

    <br>

    <h1>8. Contacto</h1>
    <p>Si tienes preguntas, comentarios o inquietudes sobre esta Política de Privacidad o el manejo de tus datos
        personales, no dudes en contactarnos a:</p>
    <br>
    <p>Correo electrónico: {{email}}</p>
    <p>Dirección: {{location}}</p>
    <p>Teléfono: {{phone}}</p>

</section>