@use "../../../styles/mixins" as mx;

@include mx.mobile() {
    :host {
        grid-template-columns: 25% 75%;

        .contactDevice app-contact {
            display: block;
            padding-top: 10px;
        }

        .title {
            justify-self: start;
            width: 60%;

            :last-child {
                display: none;
            }
        }

        app-contact {
            display: none;
        }

        .descripcion {
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }
    }
}
@include mx.mobile("landscape") {
    :host {
        display: flex;

        .title {
            width: 25%;
            font-size: 14px;
        }

        .descripcion {
            width: 75%;
        }

        .contactDevice {
            font-size: 14px;
        }
    }
}