:host {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 100%;

    .descripcion {
        display: flex;
        flex-wrap: wrap;
        overflow-wrap: break-word;
        padding-bottom: 60px;
        line-height: 1.2    ;

        span {
            margin-bottom: 10px;
        }
    }

    .contactDevice{
        display: none;
    }
}