@use "./project-element.component";

@media only screen and (max-device-width: 767px) and ((orientation: portrait) or (orientation: landscape)) {

    a.closeButtonIndex,
    a.buttonIndex,
    a.buttonIndexOverflowed {
        line-height: 1.5;

        display: grid;
        grid-template-columns: repeat(3, 1fr); // Crea 3 columnas de igual tamaño
        grid-template-rows: auto; // Fila automática según el contenido        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        
        .indexTitle{
            grid-column: 1; // Columna 1, Fila 1
            grid-row: 1;
        }

        .title {
            grid-column: 2; // Columna 2, Fila 1
            grid-row: 1;    
            width: 250px;
            padding-left: 10%;
        }

        .icon, .icon_collapsed{
            grid-column: 3; // Columna 3, Fila 1
            grid-row: 1;
            width: 10%;
        }

        .mobileImage{
            grid-column: 1 / span 3; // Ocupa 3 columnas (1 a 3), Fila 2
            grid-row: 2;
        }

        .year,
        .keywords {
            display: none;
        }

        .mobileImage  {
            display: block;
            max-width: 60%;
            height: auto;

            *{
                width: 100%;
            }
        }

        .title .informationShown {
            app-element-image {
                display: none;
            }

        }
    }

    .icon::after {
        font-size: 9px;
    }

    .icon_collapsed::after {
        font-size: 9px;
    }
    
    a.closeButtonIndex{
        .title .informationShown {
            .descriptionElement {
                margin-top: 10px;
            }
            
            .mobileYear, .mobileVideo, .mobileAwardWinning  {
                margin-top: 10px;
                display: block;
            }
            
            .mobileVideo {
                text-decoration: underline;
            }
        }
    }

    a.buttonIndexOverflowed {
        max-height: 23px;

        .title p {
            white-space: wrap;
            overflow: visible;
            line-height: 1.5;
        }

    }

    a.buttonIndex,
    a.buttonIndexOverflowed {
        max-height: 7px;
    }


}