@use "./_desktop_project-element.component";
@use "../../../styles/mixins" as mx;


@include mx.mobile() {

    a {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: auto;
        width: 100%;
        padding: 0;
        padding-top: 3px;
        padding-bottom: 2px;

        .indexTitle {
            grid-column: 1; // Columna 1, Fila 1
            grid-row: 1;
        }

        .title {
            grid-column: 2; // Columna 2, Fila 1
            grid-row: 1;
            width: 100%;

            .collapsible-content {

                .informationShown {
                    margin: {
                        top: 10px;
                        bottom: 10px;
                    }

                    ;
                    padding: 0;
                    padding: 0;

                    .descriptionElement,
                    .mobileYear,
                    .mobileAwardWinning {
                        margin-bottom: 10px;
                    }

                    .mobileVideo {
                        text-decoration: underline;
                    }

                }

            }
        }

        .icon,
        .icon_collapsed {
            grid-column: 3; // Columna 3, Fila 1
            grid-row: 1;
        }

        .mobileImage {
            grid-column: 1 / span 3; // Ocupa 3 columnas (1 a 3), Fila 2
            grid-row: 2;
            flex: 1;
            align-self: center;
            justify-self: center;

            app-element-image {
                width: 100%;
            }

        }

        .year,
        .keywords {
            display: none;
        }

        .mobileImage {
            display: block;
            max-width: 67%;
            height: auto;

            * {
                width: 100%;
            }
        }

        .title .informationShown {
            app-element-image {
                display: none;
            }

        }
    }

    .icon::after {
        font-size: 9px;
    }

    .icon_collapsed::after {
        font-size: 9px;
    }

}

@include mx.mobile("landscape") {
    .indexTitle {
        font-size: 14px !important;
    }

    .icon,
    .icon_collapsed {
        &::after {
            font-size: 14px;
        }
    }
}