@use "../../../styles/mixins" as mx;


@include mx.tablet() {
    a {
        .year .videoLink {
            overflow-wrap: break-word;
            width: 50%;
            margin: 0;
            padding-top: 20%;

        }

        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    a.buttonIndexOverflowed {
        max-height: 50px;

        .title p {
            white-space: wrap;
            overflow: visible;
            line-height: 1.5;
        }

    }
}