<a  [class.expanded]="expand" (click)="handleElement()" #scrollInto>

    <!-- Contenido siempre visible -->
    <div class="indexTitle">
        <p>({{projectElement.index}})</p>
    </div>

    <div class="year">

        <!-- Contenido siempre visible -->
        <p>{{projectElement.year}}</p>

        <!-- Contenido condicional con animación -->
        <div class="collapsible-content" [@contentAnimation]="expand ? 'expanded' : 'collapsed'">

            <div class="videoLink">

                <ng-container *ngIf="projectElement?.awardWining">
                    <p>[Award-Winning]
                    <p>
                    <p>{{projectElement.awardWining}}</p>
                </ng-container>

                <ng-container *ngIf="projectElement?.links; else noLinks">

                    <div *ngFor="let link of projectElement.links" class="links">
                        <app-formatted-link [link]="link"></app-formatted-link>
                    </div>

                </ng-container>

                <ng-template #noLinks>
                    <div class="link">
                        <app-formatted-link [link]="projectElement.url"></app-formatted-link>
                    </div>
                </ng-template>

            </div>

        </div>

    </div>

    <div class="title">

        <!-- Contenido siempre visible -->
        <p>{{projectElement.title}}</p>

        <!-- Contenido condicional con animación -->
        <div class="collapsible-content" [@contentAnimation]="expand ? 'expanded' : 'collapsed'">

            <div class="informationShown">

                <div class="descriptionElement" *ngIf="projectElement?.description">
                    {{projectElement!.description}}
                </div>

                <div class="mobileYear">
                    <p>{{projectElement.year}}</p>
                </div>

                <div class="mobileAwardWinning" *ngIf="projectElement.awardWining">
                    <p>Award-Winning, {{projectElement.awardWining}}</p>
                </div>

                <div class="mobileVideo">
                    <p>{{projectElement.url}}</p>
                </div>

                <app-element-image 
                    *ngIf="expand"
                [youtubeUrl]="projectElement.url"></app-element-image>

            </div>
        </div>
    </div>

    <!-- Contenido siempre visible -->
    <div class="keywords">
        <p>{{projectElement.keywords}}</p>
    </div>

    <!-- Contenido siempre visible -->
    <div [ngClass]="{'icon': !expand, 'icon_collapsed' : expand}"></div>

    <div class="mobileImage"  *ngIf="expand">
        <app-element-image [youtubeUrl]="projectElement.url"></app-element-image>
    </div>

</a>