.youtube-container{
    width: 150%;

    iframe {
        max-height: 800px;
        height: 500px;
        width: 100%;
    }
}



.cuadrado-gris {
    width: 100%;
    /* Ancho fijo */
    height: 500px;
    /* Alto fijo */
    background-color: gray;
    /* Color gris */
    margin-top: 20px;
    margin-bottom: 60px;
}

.imageElement , .imagesElement{    
    img { 
        max-width: 170%;
    }
}


.imagesElement {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 170%;

    img:last-child{
        margin-left: 20px;
    }

    img { 
        max-width: 100%;
    }
    
}