@font-face {
  font-family: 'Ingram Mono Regular';
  src: url("../public/Ingram-Mono-Regular.otf") format('truetype');
}

p, body{
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.active-link {
    text-decoration: underline;
}

body {
    font-size: 12px;
    font-family: 'Ingram Mono Regular', sans-serif;
    text-transform: uppercase;

    /* Estilos para móviles (vertical y horizontal) */
    @media (max-width: 767px) {
        font-size: 8px;
    }
}



section {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;

    h1 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    ul {
        list-style-type: circle;

        li p::before {
            position: relative;
            content: " • ";
        }
    }
}
