@font-face {
  font-family: 'Ingram Mono Regular';
  src: url("../public/Ingram-Mono-Regular.otf") format('truetype');
}


p, body{
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.active-link {
    text-decoration: underline;
}

body {
    font-size: 12px;
    font-family: 'Ingram Mono Regular', sans-serif;
    text-transform: uppercase;
    font-weight: 100; /* Peso light (300 es light, 400 normal, 700 bold) */
    letter-spacing: 2px; /* Espaciado entre letras */

}
//phone portrait
@media only screen and (max-device-width: 767px) and (orientation: portrait) {
    body{
        font-size: 9px;
        letter-spacing: 0.5px; /* Espaciado entre letras */
    }
}

//phone landscape
@media only screen and (max-device-width: 932px) and (max-device-height: 500px) and (orientation: landscape) {
    body{
        font-size: 10px;
        letter-spacing: 0.5px; /* Espaciado entre letras */
    }
}

//Tablet
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body{
        font-size:11px;
        letter-spacing: 1px; /* Espaciado entre letras */
    }
}


section {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;

    h1 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    ul {
        list-style-type: circle;

        li p::before {
            position: relative;
            content: " • ";
        }
    }
}
