$border: 0.5mm solid rgba(207, 207, 207, 255);
$fifth: calc(100/5)*(1%);
$tablet: only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait);

* {
    display: block;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.active-link {
    text-decoration: underline;
}

body {
    margin: 12px;
    font-size: 12px;
    font-family: 'Ingram Mono Regular',
        sans-serif;
    text-transform: uppercase;

    /* Estilos para móviles (vertical y horizontal) */
    @media (max-width: 767px) {
        font-size: 8px;
    }
}


header {
    display: grid;
    grid-template-columns: 20% 55% 10% 15%;
    grid-template-rows: 100%;
    align-items: start;
    border-bottom: $border;
    padding-bottom: 10px;

    //Celular
    @media only screen and (max-device-width: 767px) and (orientation: portrait) {
        padding-bottom: 5px;
        grid-template-columns: 27% 60% 0% 13%;

        .menu {
            display: none;
        }
    }

    @media only screen and (max-device-height: 767px) and (orientation: landscape) {
        padding-bottom: 5px;
        grid-template-columns: 27% 60% 13% 0%;

        .menu {
            display: none;
        }
    }

    .menu {
        display: flex;
        flex-direction: row;

        .images {
            margin-left: 10px;
            cursor: pointer;
        }

        .index {
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .logo {
        display: block;
        width: 50px;
        height: 50px;
        align-self: center;
        justify-self: end;

        img {
            width: inherit;
            height: inherit;
        }
    }
}


main {
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;

    a:first-child {
        border-top: none;
        border-bottom: none;
    }

    a:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    a {
        border-top: $border;
        display: grid;
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-columns: 20% 20% 35% 24% 1%;

        //Celular
        @media (max-device-width: 767px) or ((max-device-height: 767px) and (orientation: landscape)) {
            grid-template-columns: 27% 66% 7%;
            padding-top: 5px;
            padding-bottom: 5px;

            .year,
            .keywords {
                display: none;
            }
        }

        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
            padding-top: 5px;
            padding-bottom: 5px;
            grid-template-columns: 20% 67% 13%;

            .year,
            .keywords {
                display: none;
            }
        }
    }

    a:after {
        display: inline-block;
        justify-self: end;
        align-self: flex-end;
        $from: 0.5;
        $scale: 1;
        -webkit-transform: scale($from, $scale);
        /* Safari and Chrome */
        -moz-transform: scale($from, $scale);
        /* Firefox */
        -ms-transform: scale($from, $scale);
        /* IE 9 */
        -o-transform: scale($from, $scale);
        /* Opera */
        transform: scale($from, $scale);
        /* W3C */
        content: ">";
        font-size: 12px;
        font-weight: bolder;
        position: relative;
    }

    //Celular
    @media (max-width: 767px) or ((max-height: 767px) and (orientation: landscape)) {
        padding-top: 0;
        padding-bottom: 5px;
    }

    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
        padding-top: 0;
        padding-bottom: 5px;
    }
}


footer {
    display: flex;
    flex-direction: column;

    .clientes {
        display: grid;
        border-top: $border;
        border-bottom: $border;
        grid-template-columns: 15% 25% 60%;
        padding: 10px;
        grid-template-rows: 100%;
        padding-left: 0px;

        @media (max-device-width: 767px) or ((max-device-height: 767px) and (orientation: landscape)) {
            padding: 5px;
            padding-top: 50;
            grid-template-columns: 27% 0% 70%;
        }

        //Tablet
        @media only screen and ((min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)) {
            grid-template-columns: 20% 0% 80%;
            padding-top: 0;

        }

        .info {
            .text {
                display: flex;
                flex-direction: rows;
            }

            .clientImages {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                align-items: center;
                justify-content: left;

                img {
                    filter: grayscale(1);
                    opacity: 0.25;
                    max-height: 70px;
                    max-width: 120px;
                    margin: 5px;

                    @media (max-width: 767px) {
                        max-height: 35px;
                        max-width: 50px;
                    }

                }
            }
        }
    }

    .nosotros {
        display: grid;
        grid-template-columns: 20% 20% 60%;
        grid-template-rows: 100%;
        padding: 10px;
        padding-left: 0px;

        @media (max-device-width: 767px) or ((max-device-height: 767px)) {
            padding: 5px;
            padding-left: 0px;
            grid-template-columns: 25% 20% 1fr;
        }


        .title {
            @media (max-device-width: 767px) or ((max-device-height: 767px) and (orientation: landscape)) {
                justify-self: start;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            @media (max-device-width: 767px) or ((max-device-height: 767px) and (orientation: landscape)) {
                justify-self: center;
            }

            a:after {
                display: inline-block;
                $from: 0.5;
                $scale: 1;
                -webkit-transform: scale($from, $scale);
                /* Safari and Chrome */
                -moz-transform: scale($from, $scale);
                /* Firefox */
                -ms-transform: scale($from, $scale);
                /* IE 9 */
                -o-transform: scale($from, $scale);
                /* Opera */
                transform: scale($from, $scale);
                /* W3C */
                content: ">";
                font-size: 12px;
                padding-left: 12px;
                font-weight: bolder;
                position: relative;
            }
        }

        .descripcion {
            display: flex;
            flex-wrap: wrap;
            overflow-wrap: break-word;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;    

    .popup {
        position: relative;
        border-radius: 5px;
        width: fit-content;
        transition: all 5s ease-in-out;

        @media (max-device-width: 767px) or (max-device-height: 767px) {
            max-width: 400px;
        }

        .close {
            position: absolute;
            top: 0;
            right: 10px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #ffffff;
        }

        .content {
            overflow: auto;

            iframe{
                border: none;
            }
        }

        .close:hover {
            color: #06D85F;
            cursor: pointer;
        }
    }
}



@font-face {
    font-family: 'Ingram Mono Regular';
    src: url("../public/Ingram-Mono-Regular.otf") format('truetype');
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.5;
}

.empty {
    display: block;
}

section {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;

    h1 {
        font-size: 16px;
        padding-bottom: 10px;
    }

    ul {
        list-style-type: circle;

        li p::before {
            position: relative;
            content: " • ";
        }
    }
}

/* Estilos para tablets (vertical y horizontal) */
@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 768px) and (orientation: landscape) {}